<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Udrykning til brand i gartneri på Stevns</title>
    <style>

        #subtitle {
            color: deepskyblue;
            font-size: medium;
        }

        .detail {
            color: grey;
            font-size: 14px;
        }

        .article-text {
            font-size: 16px;
            font-family: Arial,serif;
        }


        .center {
            text-align: center;
        }


    </style>

</head>
<body class="center">
<img src="../berlingske.png" alt="Berlingske logo">
<div id="subtitle"><br><br>SAMFUND</div>
<h1>Udrykning til brand i gartneri på Stevns</h1>
<div>Politiet har afspærret vej i Hårlev på grund af indsats i forbindelse med brandslukning.<br></div>
<img src="../html_billedeXLjpg.jpg" alt="Politi">
<p class="detail"> Arkivfoto: Tingvej i Hårlev er spærret.
    <br> Foto: Mads Claus Rasmussen
</p>
<br>
<div class="article-text" >
<p>Der er udbrudt brand i et gartneri i Hårlev på Stevns, oplyser politiet tirsdag eftermiddag.
    <br><br>Såvel brandvæsenet som politiet er rykket ud til stedet. I forbindelse med indsatsen har
    politiet spærret Tingvej i Hårlev for almindelig trafik, fremgår det af opslag på Twitter.
    <br><br>Branden er opstået på Myrekærvej, oplyser politiet. Her har gartneriet Østervang Sjælland A/S til huse.</p>
</div>
</body>
</html>