<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Berlingske Nyheder</title>
    <style>
        .title {
            background-color: grey;
            width: 150px;
            border: 10px dimgrey;
            padding: 20px;
            margin: 10px;
            color: dodgerblue;
            font-size: xx-large;
        }

        #subtitle {
            color: deepskyblue;
            font-size: medium;
        }

        .article {
            color: black;
            font-size: x-large;
        }

    </style>

</head>
<body>
<!--<h1>Berlingske</h1>-->
<img src="../berlingske.png" alt="Berlingske logo">
<div class="title"> NYHEDER</div>
<img src="../html_billede.jpg" alt="Politi">
<div id="subtitle">SAMFUND</div>
<a href="article.html" class="article">
    Udrykning til brand i gartneri på Stevns</a>
</body>
</html>